.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Logo Logo Right Right Right Right Right Right Right Right";
}

.Logo { grid-area: Logo; }

.Right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Silver-Logo Silver-Logo icons" "Nav Nav Nav";
  grid-area: Right;
}

.Nav { grid-area: Nav; }

.icons { grid-area: icons; }

.Silver-Logo { grid-area: Silver-Logo; }